<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Passwordmanager</title>
<link href="webjars/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet"></link>
</head>
<body>
	<div class="col-sm-2" th:switch="${allEntries}">
		<h4 th:case="null">You don't have any Entries saved yet.</h4>
		<table class="table table-striped" th:case="*">
			<thead>
				<tr>
					<th>Id</th>
					<th>Url</th>
					<th>Username</th>
					<th>Password</th>
					<th>Notes</th>
					<th>Email</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="entry : allEntries">
					<td th:text="${entry.id}"></td>
					<td th:text="${entry.url}"></td>
					<td th:text="${entry.username}"></td>
					<td th:text="${entry.password}"></td>
					<td th:text="${entry.notes}"></td>
					<td th:text="${entry.email}"></td>
				</tr>
			</tbody>
		</table>
	</div>
</body>
</html>