<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>Passwordmanager</title>
    <link href="webjars/bootstrap/4.5.0/css/bootstrap.min.css"
          rel="stylesheet"/>
</head>
<body>
<div class="mt-2 w-75 mx-auto">
    <div class="row">
        <div class="col-sm-6">
            <h1>Passwordmanager</h1>
        </div>
        <div class="col-md-3">
            <a class="btn btn-dark" href="/newEntry">New Entry</a>
        </div>
        <div class="col-md-3">
            <a class="btn btn-dark" href="/logout">Lock Safe</a>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12" th:if="${not #lists.isEmpty(allEntries)}">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>Url</th>
                    <th>Username</th>
                    <th>Password</th>
                    <th>Notes</th>
                    <th>Email</th>
                    <th>Edit</th>
                    <th>Delete</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="entry : ${allEntries}">
                    <td th:text="${entry.url}"></td>
                    <td th:text="${entry.username}"></td>
                    <td th:text="${entry.password}"></td>
                    <td th:text="${entry.notes}"></td>
                    <td th:text="${entry.email}"></td>
                    <td><a class="btn btn-info" th:href="@{'/updateEntry/' + ${entry.id}}">Edit</a></td>
                    <td><a class="btn btn-danger" th:href="@{'/removeEntry/' + ${entry.id}}">Delete</a></td>
                </tr>
                </tbody>
            </table>
            <div th:if="${#lists.isEmpty(allEntries)}">
                <p>You don't have any entries yet</p>
            </div>
        </div>
    </div>
</div>
</body>
</html>
