<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Update Entry</title>
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
	integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
	crossorigin="anonymous">

</head>
<body style="margin: auto; width: 50%">

	<div class="row">
		<div class="col-md-12">
			<h1>Update an Entry</h1>
			<form action="#" th:action="@{/updateEntry}"
				th:object="${updateEntry}" method="post" class="col-sm-4">
				<div class="form-group">
					<label for="urlId">Url:</label> <input type="text"
						class="form-control" id="urlId" th:field="*{url}" /> <label
						for="unameId">Username:</label> <input type="text"
						class="form-control" id="unameId" th:field="*{username}" />
					<p th:if="${#fields.hasErrors('username')}" th:errors="*{username}">Username
						Error</p>
					<label for="pwId">Password:</label> <input type="text"
						class="form-control" id="pwId" th:field="*{password}" />
					<p th:if="${#fields.hasErrors('password')}" th:errors="*{password}">password
						Error</p>
					<label for="notesId">Notes:</label> <input type="text"
						class="form-control" id="notesId" th:field="*{notes}" /> <label
						for="emailId">Email:</label> <input type="text"
						class="form-control" id="emailId" th:field="*{email}" />
					<p th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Email
						Error</p>
					<input type="submit" class="btn btn-success" value="Add" />
				</div>
			</form>
		</div>
	</div>

</body>
</html>